.homePageList {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-left: 15px;
  list-style: none;
}
.homePageLink {
  text-decoration: none;
}
.movieImg {
  width: 350px;
}
.homePageItem {
  margin: 15px;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgb(174 174 174 / 66%);
  border-radius: 5px;
  cursor: pointer;
}
.homePageItem:hover,
.homePageItem:focus {
  transform: scale(1.04);
  box-shadow: 0px 3px 18px 2px rgb(174 174 174 / 66%);
}
.movieTitle {
  width: 300px;
}
